// パーツ・スイッチ


// ライトモード・ダークモード切り替えスイッチ
.onoffswitch {
  position: relative; width: 75px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  height: 36px; padding: 0; line-height: 36px;
  border: 2px solid #F26A74; border-radius: 36px;
  background-color: #F26A74;
  transition: background-color 0.3s ease-in;
}

.onoffswitch-label:before {
  content: "";
  display: block; width: 36px; margin: 0px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 37px;
  border: 2px solid #F26A74; border-radius: 36px;
  transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label {
  background-color: #E13845;
}

.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
 border-color: #E13845;
}

.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  right: 0px;
}
