// ローディング


// 変数、ミックスイン、関数
@use "../../global/" as g;



.loading {
  position: fixed;
  inset: 0;
  z-index: 2;
  background-color: g.$lightGrayColor;
  backdrop-filter: blur(10px);
  display: grid;
  place-items: center;

  &__text {
    font-family: g.$OswaldFont;
    font-size: 2rem;
  }

  &__screen {
    position: absolute;
    inset: 0;
    background-color: g.$lightGreenColor;
    translate: 0 100%;
  }
}




// スライドレフト、スライドライト
.leftLoading,
.rightLoading {
  position: fixed;
  z-index: 2;
  background-color: #ed8;
}

.leftLoading {
  inset: 0 50% 0 0;
  transform-origin: 0;
}

.rightLoading {
  inset: 0 0 0 50%;
  transform-origin: 100%;
}
