<button class="gNavBtn gNavBtn--open" id="js-gNavOpenBtn" type="button">
  <svg class="gNavBtn__icon gNavBtn__icon--open" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <title>メニューを開く</title>

    <path clip-rule="evenodd" d="m4.25 8c0-.41421.33579-.75.75-.75h14c.4142 0 .75.33579.75.75s-.3358.75-.75.75h-14c-.41421 0-.75-.33579-.75-.75zm0 4c0-.4142.33579-.75.75-.75h14c.4142 0 .75.3358.75.75s-.3358.75-.75.75h-14c-.41421 0-.75-.3358-.75-.75zm.75 3.25c-.41421 0-.75.3358-.75.75s.33579.75.75.75h14c.4142 0 .75-.3358.75-.75s-.3358-.75-.75-.75z" fill-rule="evenodd"/>
  </svg>
</button>

<nav class="gNav">
  <button class="gNavBtn gNavBtn--close" id="js-gNavCloseBtn" type="button">
    <svg class="gNavBtn__icon gNavBtn__icon--close" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
      <title>メニューを閉じる</title>

      <path clip-rule="evenodd" d="m7.53033 6.46967c-.29289-.29289-.76777-.29289-1.06066 0s-.29289.76777 0 1.06066l4.46963 4.46967-4.46963 4.4697c-.29289.2929-.29289.7677 0 1.0606s.76777.2929 1.06066 0l4.46967-4.4696 4.4697 4.4696c.2929.2929.7677.2929 1.0606 0s.2929-.7677 0-1.0606l-4.4696-4.4697 4.4696-4.46967c.2929-.29289.2929-.76777 0-1.06066s-.7677-.29289-1.0606 0l-4.4697 4.46963z" fill-rule="evenodd"/>
    </svg>
  </button>

  <ul class="gNav__list">
    <li class="gNav__item">
      <a class="gNav__link" href="#">Online Shop</a>
    </li>

    <li class="gNav__item">
      <a class="gNav__link" href="#">Twitter</a>
    </li>

    <li class="gNav__item">
      <a class="gNav__link" href="#">Instagram</a>
    </li>

    <li class="gNav__item">
      <a class="gNav__link" href="#">YouTube</a>
    </li>

    <li class="gNav__item">
      <a class="gNav__link" href="mailto:hello@example.com?subject=タイトル&amp;body=本文">Contact</a>
    </li>
  </ul>
</nav>
