// ページ・トップページ


.top {
  background-image: url(../images/top/bg-shadow.jpg);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
