<!DOCTYPE html>
<html lang="ja">

<%- include('./components/common/_head.ejs') %>


<body class="top">

<%- include('./components/common/_loading') %>

<%- include('./components/common/_gnav.ejs') %>

<section class="topHero">
  <h1 class="topHero__heading">
    WCB Fashion<br>
    Collection
  </h1>
</section>

<section class="topSection01">
  <div class="topSection01__content">
    <div class="topSection01__heading primaryHeading js-slideRight">
      <h2 class="primaryHeading__inner">Concept</h2>
    </div>

    <p class="topSection01__text js-fadeUp">当たり前の日々を、ほんの少しだけ華やかに彩りたい。そんな思いから新しいファッションブランドが生まれました。 軽やかで優しく、着心地のいい素材をベースにしているため、 どんな瞬間でも柔らかな笑顔で過ごせるはず。 WCB Fashion Collection で、「あなたらしさ」を一緒に探してみませんか？</p>
  </div>

  <figure class="topSection01__figure">
    <img class="topSection01__image" src="../images/top/concept.jpg" alt="" width="900" height="1200">
  </figure>
</section>

<section class="topSection02">
  <div class="topSection02__content">
    <div class="topSection01__heading primaryHeading js-slideRight">
      <h2 class="primaryHeading__inner">Lookbook</h2>
    </div>

    <ul class="topSection02__thumbnails">
      <!-- <li class="topSection02__thumbnail js-fadeUp">
        <img class="topSection02__thumbnailImage" src="../images/top/img1.jpg" alt="" width="900" height="1200">
      </li>

      <li class="topSection02__thumbnail js-fadeUp">
        <img class="topSection02__thumbnailImage" src="../images/top/img2.jpg" alt="" width="900" height="1200">
      </li>

      <li class="topSection02__thumbnail js-fadeUp">
        <img class="topSection02__thumbnailImage" src="../images/top/img3.jpg" alt="" width="900" height="1200">
      </li>

      <li class="topSection02__thumbnail js-fadeUp">
        <img class="topSection02__thumbnailImage" src="../images/top/img4.jpg" alt="" width="900" height="1200">
      </li>

      <li class="topSection02__thumbnail js-fadeUp">
        <img class="topSection02__thumbnailImage" src="../images/top/img5.jpg" alt="" width="900" height="1200">
      </li>

      <li class="topSection02__thumbnail js-fadeUp">
        <img class="topSection02__thumbnailImage" src="../images/top/img6.jpg" alt="" width="900" height="1200">
      </li>

      <li class="topSection02__thumbnail js-fadeUp">
        <img class="topSection02__thumbnailImage" src="../images/top/img7.jpg" alt="" width="900" height="1200">
      </li>

      <li class="topSection02__thumbnail js-fadeUp">
        <img class="topSection02__thumbnailImage" src="../images/top/img8.jpg" alt="" width="900" height="1200">
      </li>

      <li class="topSection02__thumbnail js-fadeUp">
        <img class="topSection02__thumbnailImage" src="../images/top/img9.jpg" alt="" width="900" height="1200">
      </li> -->
    </ul>
  </div>

  <figure class="topSection02__figure">
    <img class="topSection02__image" src="../images/top/img1.jpg" alt="" width="900" height="1200">
  </figure>
</section>

<section class="topSection03">
  <div class="topSection03__inner">
    <div class="topSection01__heading primaryHeading js-slideRight">
      <h2 class="primaryHeading__inner">Shop</h2>
    </div>

    <p class="topSection03__text js-fadeUp">いつでも送料無料。便利なオンラインショップをご利用ください。</p>

    <a class="topSection03__btn primaryBtn js-fadeUp" href="#">オンラインショップ</a>

    <div class="topSection03__shop js-fadeUp">
      <div class="topSection03__shopName js-fadeUp">六本木店</div>

      <div class="topSection03__shopContent js-fadeUp">
        東京都港区六本木2-4-5<br>
        営業日：金・土・日・祝<br>
        営業時間：11:00〜18:00
      </div><!-- /.topSection03__shopContent -->
    </div><!-- /.topSection03__shop -->
  </div><!-- /.topSection03__inner -->
</section>

</body>
</html>
