// 変数


// カラー
$mainColor: #403632;
$textColor: $mainColor;
$whiteColor: #fff;
$lightGrayColor: #eeeeee;
$greenColor: #63dbd0;
$lightGreenColor: #d5edeb;



// 幅



// サイズ



// フォント
$OswaldFont: 'Oswald', sans-serif;



// ブレイクポイント
$breakpoints: (
  "xs-min": "(min-width: 375px)",
  "xs-max": "(max-width: 374px)",
  "sm-min": "(min-width: 600px)",
  "sm-max": "(max-width: 599px)",
  "md-min": "(min-width: 800px)",
  "md-max": "(max-width: 799px)",
  "lg-min": "(min-width: 1024px)",
  "lg-max": "(max-width: 1023px)",
  "xl-min": "(min-width: 1200px)",
  "xl-max": "(max-width: 1199px)",
  "xxl-min": "(min-width: 1366px)",
  "xxl-max": "(max-width: 1365px)"
);
